$app-text-light: #7f7e86;
$app-text-medium: #2a2836;
$app-text-dark: #252330;

$app-gray-light: #d1d4da;
$app-gray-medium: #b3b8c2;
$app-gray-dark: #a0a5ae;

$app-blue-light: #75c2ff;
$app-blue-medium: #199aff;
$app-blue-dark: #168ae5;

$app-teal-light: #a1edfd;
$app-teal-medium: #63e2fd;
$app-teal-dark: #58cae3;

$app-indigo-light: #81a1fd;
$app-indigo-medium: #2e63fd;
$app-indigo-dark: #2958e3;

$app-purple-light: #c78bfa;
$app-purple-medium: #a23ef7;
$app-purple-dark: #9137dd;

$app-green-medium: #7ed957;
$app-green-dark: #48c774;

$app-red-medium: #FF3366;
$app-red-dark: #dd0037;
